/* @import url("http://fonts.googleapis.com/css?family=Poppins:400,300,700,500");
body{
    font-family: "Poppins !important";
} */
.navbar-nav > .nav-item { 
    padding: 0px 15px 0 15px 
}

.navbar{
    padding: 15px 0 15px 0;
}

.card-btn{
    
    position: relative;
}

.card-btn-big{
    top: 90%;
}

.card-btn-tall{
    top: 91%
}

.card-btn-small{
    top: 80%
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.cart-button:hover{
    color: black;
    background-color: transparent;
    border-color: transparent;
}
.cart:focus{
    box-shadow: none;
}
.cart-button:focus{
    box-shadow: none;
}